DocumentTransitionApp/DocumentTransitionUniversalApp/Service References/TransitionAppWCFSerivce/TransitionAppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SplitDescriptionObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SplitDescriptionObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonFiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonFiles" nillable="true" type="tns:PersonFiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonFiles" nillable="true" type="tns:ArrayOfPersonFiles" />
  <xs:complexType name="PersonFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonFiles" nillable="true" type="tns:PersonFiles" />
</xs:schema>