DocumentTransitionApp/DocumentTransitionUniversalApp/Service References/TransitionAppWCFSerivce/TransitionAppService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DocumentEditPartsEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocumentEditPartsEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DocumentTransitionAppWCF/TransitionAppService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OpenXMLTools.Helpers" />
  <xs:import schemaLocation="http://localhost/DocumentTransitionAppWCF/TransitionAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPartsSelectionTreeElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartsSelectionTreeElement" nillable="true" type="tns:PartsSelectionTreeElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartsSelectionTreeElement" nillable="true" type="tns:ArrayOfPartsSelectionTreeElement" />
  <xs:complexType name="PartsSelectionTreeElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Childs" nillable="true" type="tns:ArrayOfPartsSelectionTreeElement" />
      <xs:element minOccurs="0" name="ElementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indent" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:PartsSelectionTreeElement" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenXMLTools.Helpers" minOccurs="0" name="Type" type="q1:ElementType" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PartsSelectionTreeElement" nillable="true" type="tns:PartsSelectionTreeElement" />
</xs:schema>