DocumentTransitionApp/DocumentTransitionPhoneApp/Service References/TransitionAppService/TransitionAppServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SplitDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docxFile" type="tns:Stream" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="tns:Stream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Stream" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Position" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="ReadTimeout" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="WriteTimeout" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:element name="SplitDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitDocumentResult" type="tns:ArrayOfKeyValuePairOfStringListOfStream" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyValuePairOfStringListOfStream">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfStringListOfStream" type="tns:KeyValuePairOfStringListOfStream" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePairOfStringListOfStream">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:ArrayOfStream" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStream">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Stream" nillable="true" type="tns:Stream" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SplitDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SplitDocument" />
  </wsdl:message>
  <wsdl:message name="SplitDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SplitDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SplitDocument">
      <wsdl:input message="tns:SplitDocumentSoapIn" />
      <wsdl:output message="tns:SplitDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitDocument">
      <soap:operation soapAction="http://tempuri.org/SplitDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitDocument">
      <soap12:operation soapAction="http://tempuri.org/SplitDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6943/TransitionAppServices.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6943/TransitionAppServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>