DocumentTransitionApp/DocumentTransitionUniversalApp/Service References/TransitionAppServices/TransitionAppServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SplitDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docxFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitDocumentResult" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonFiles" nillable="true" type="tns:PersonFiles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Person" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SplitPresentation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitPresentationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitPresentationResult" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSplitDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parts" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPartsSelectionTreeElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PartsSelectionTreeElement" nillable="true" type="tns:PartsSelectionTreeElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartsSelectionTreeElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ElementId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Childs" type="tns:ArrayOfPartsSelectionTreeElement" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Indent" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Selected" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateSplitDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateSplitDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentPartsResult" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresentationParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="presentationFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresentationPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPresentationPartsResult" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentPartsFromXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="splitFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentPartsFromXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentPartsFromXmlResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPresentationPartsFromXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="splitFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresentationPartsFromXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPresentationPartsFromXmlResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SplitDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SplitDocument" />
  </wsdl:message>
  <wsdl:message name="SplitDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SplitDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="SplitPresentationSoapIn">
    <wsdl:part name="parameters" element="tns:SplitPresentation" />
  </wsdl:message>
  <wsdl:message name="SplitPresentationSoapOut">
    <wsdl:part name="parameters" element="tns:SplitPresentationResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateSplitDocument" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateSplitDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="MergeDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:MergeDocument" />
  </wsdl:message>
  <wsdl:message name="MergeDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:MergeDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentPartsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentParts" />
  </wsdl:message>
  <wsdl:message name="GetDocumentPartsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentPartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPresentationParts" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPresentationPartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentPartsFromXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentPartsFromXml" />
  </wsdl:message>
  <wsdl:message name="GetDocumentPartsFromXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentPartsFromXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsFromXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetPresentationPartsFromXml" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsFromXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetPresentationPartsFromXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SplitDocument">
      <wsdl:input message="tns:SplitDocumentSoapIn" />
      <wsdl:output message="tns:SplitDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SplitPresentation">
      <wsdl:input message="tns:SplitPresentationSoapIn" />
      <wsdl:output message="tns:SplitPresentationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitDocument">
      <wsdl:input message="tns:GenerateSplitDocumentSoapIn" />
      <wsdl:output message="tns:GenerateSplitDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeDocument">
      <wsdl:input message="tns:MergeDocumentSoapIn" />
      <wsdl:output message="tns:MergeDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentParts">
      <wsdl:input message="tns:GetDocumentPartsSoapIn" />
      <wsdl:output message="tns:GetDocumentPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentationParts">
      <wsdl:input message="tns:GetPresentationPartsSoapIn" />
      <wsdl:output message="tns:GetPresentationPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentPartsFromXml">
      <wsdl:input message="tns:GetDocumentPartsFromXmlSoapIn" />
      <wsdl:output message="tns:GetDocumentPartsFromXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentationPartsFromXml">
      <wsdl:input message="tns:GetPresentationPartsFromXmlSoapIn" />
      <wsdl:output message="tns:GetPresentationPartsFromXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitDocument">
      <soap:operation soapAction="http://tempuri.org/SplitDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitPresentation">
      <soap:operation soapAction="http://tempuri.org/SplitPresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitDocument">
      <soap:operation soapAction="http://tempuri.org/GenerateSplitDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeDocument">
      <soap:operation soapAction="http://tempuri.org/MergeDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentParts">
      <soap:operation soapAction="http://tempuri.org/GetDocumentParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationParts">
      <soap:operation soapAction="http://tempuri.org/GetPresentationParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentPartsFromXml">
      <soap:operation soapAction="http://tempuri.org/GetDocumentPartsFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationPartsFromXml">
      <soap:operation soapAction="http://tempuri.org/GetPresentationPartsFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitDocument">
      <soap12:operation soapAction="http://tempuri.org/SplitDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitPresentation">
      <soap12:operation soapAction="http://tempuri.org/SplitPresentation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitDocument">
      <soap12:operation soapAction="http://tempuri.org/GenerateSplitDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeDocument">
      <soap12:operation soapAction="http://tempuri.org/MergeDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentParts">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationParts">
      <soap12:operation soapAction="http://tempuri.org/GetPresentationParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentPartsFromXml">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentPartsFromXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationPartsFromXml">
      <soap12:operation soapAction="http://tempuri.org/GetPresentationPartsFromXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6943/TransitionAppServices.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6943/TransitionAppServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>