DocumentTransitionApp/DocumentTransitionUniversalApp/Service References/TransitionAppServices/TransitionAppServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/">
      <s:element name="SplitWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docxFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitWordResult" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonFiles" nillable="true" type="tns:PersonFiles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Person" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SplitPresentation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitPresentationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitPresentationResult" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSplitWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parts" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPartsSelectionTreeElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PartsSelectionTreeElement" nillable="true" type="tns:PartsSelectionTreeElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartsSelectionTreeElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ElementId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ElementType" />
          <s:element minOccurs="0" maxOccurs="1" name="Parent" type="tns:PartsSelectionTreeElement" />
          <s:element minOccurs="0" maxOccurs="1" name="Childs" type="tns:ArrayOfPartsSelectionTreeElement" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Indent" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Selected" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Visible" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ElementType">
        <s:restriction base="s:string">
          <s:enumeration value="Paragraph" />
          <s:enumeration value="BulletList" />
          <s:enumeration value="NumberedList" />
          <s:enumeration value="Hyperlink" />
          <s:enumeration value="Table" />
          <s:enumeration value="Picture" />
          <s:enumeration value="Sheet" />
          <s:enumeration value="Column" />
          <s:enumeration value="Row" />
          <s:enumeration value="Cell" />
          <s:enumeration value="Slide" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GenerateSplitWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateSplitWordResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSplitPresentation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parts" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSplitPresentationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateSplitPresentationResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWordParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWordPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWordPartsResult" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresentationParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="presentationFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresentationPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPresentationPartsResult" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWordPartsFromXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="splitFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWordPartsFromXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWordPartsFromXmlResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPresentationPartsFromXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="splitFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresentationPartsFromXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPresentationPartsFromXmlResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitExcelResult" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSplitExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parts" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateSplitExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateSplitExcelResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExcelParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="excName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="excelFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExcelPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExcelPartsResult" type="tns:ArrayOfPartsSelectionTreeElement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExcelPartsFromXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="splitFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExcelPartsFromXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExcelPartsFromXmlResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeWordResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergePresentation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergePresentationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergePresentationResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeExcelResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SplitWordSoapIn">
    <wsdl:part name="parameters" element="tns:SplitWord" />
  </wsdl:message>
  <wsdl:message name="SplitWordSoapOut">
    <wsdl:part name="parameters" element="tns:SplitWordResponse" />
  </wsdl:message>
  <wsdl:message name="SplitPresentationSoapIn">
    <wsdl:part name="parameters" element="tns:SplitPresentation" />
  </wsdl:message>
  <wsdl:message name="SplitPresentationSoapOut">
    <wsdl:part name="parameters" element="tns:SplitPresentationResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitWordSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateSplitWord" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitWordSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateSplitWordResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitPresentationSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateSplitPresentation" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitPresentationSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateSplitPresentationResponse" />
  </wsdl:message>
  <wsdl:message name="GetWordPartsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWordParts" />
  </wsdl:message>
  <wsdl:message name="GetWordPartsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWordPartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPresentationParts" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPresentationPartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetWordPartsFromXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetWordPartsFromXml" />
  </wsdl:message>
  <wsdl:message name="GetWordPartsFromXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetWordPartsFromXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsFromXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetPresentationPartsFromXml" />
  </wsdl:message>
  <wsdl:message name="GetPresentationPartsFromXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetPresentationPartsFromXmlResponse" />
  </wsdl:message>
  <wsdl:message name="SplitExcelSoapIn">
    <wsdl:part name="parameters" element="tns:SplitExcel" />
  </wsdl:message>
  <wsdl:message name="SplitExcelSoapOut">
    <wsdl:part name="parameters" element="tns:SplitExcelResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitExcelSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateSplitExcel" />
  </wsdl:message>
  <wsdl:message name="GenerateSplitExcelSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateSplitExcelResponse" />
  </wsdl:message>
  <wsdl:message name="GetExcelPartsSoapIn">
    <wsdl:part name="parameters" element="tns:GetExcelParts" />
  </wsdl:message>
  <wsdl:message name="GetExcelPartsSoapOut">
    <wsdl:part name="parameters" element="tns:GetExcelPartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetExcelPartsFromXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetExcelPartsFromXml" />
  </wsdl:message>
  <wsdl:message name="GetExcelPartsFromXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetExcelPartsFromXmlResponse" />
  </wsdl:message>
  <wsdl:message name="MergeWordSoapIn">
    <wsdl:part name="parameters" element="tns:MergeWord" />
  </wsdl:message>
  <wsdl:message name="MergeWordSoapOut">
    <wsdl:part name="parameters" element="tns:MergeWordResponse" />
  </wsdl:message>
  <wsdl:message name="MergePresentationSoapIn">
    <wsdl:part name="parameters" element="tns:MergePresentation" />
  </wsdl:message>
  <wsdl:message name="MergePresentationSoapOut">
    <wsdl:part name="parameters" element="tns:MergePresentationResponse" />
  </wsdl:message>
  <wsdl:message name="MergeExcelSoapIn">
    <wsdl:part name="parameters" element="tns:MergeExcel" />
  </wsdl:message>
  <wsdl:message name="MergeExcelSoapOut">
    <wsdl:part name="parameters" element="tns:MergeExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SplitWord">
      <wsdl:input message="tns:SplitWordSoapIn" />
      <wsdl:output message="tns:SplitWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SplitPresentation">
      <wsdl:input message="tns:SplitPresentationSoapIn" />
      <wsdl:output message="tns:SplitPresentationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitWord">
      <wsdl:input message="tns:GenerateSplitWordSoapIn" />
      <wsdl:output message="tns:GenerateSplitWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitPresentation">
      <wsdl:input message="tns:GenerateSplitPresentationSoapIn" />
      <wsdl:output message="tns:GenerateSplitPresentationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWordParts">
      <wsdl:input message="tns:GetWordPartsSoapIn" />
      <wsdl:output message="tns:GetWordPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentationParts">
      <wsdl:input message="tns:GetPresentationPartsSoapIn" />
      <wsdl:output message="tns:GetPresentationPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWordPartsFromXml">
      <wsdl:input message="tns:GetWordPartsFromXmlSoapIn" />
      <wsdl:output message="tns:GetWordPartsFromXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentationPartsFromXml">
      <wsdl:input message="tns:GetPresentationPartsFromXmlSoapIn" />
      <wsdl:output message="tns:GetPresentationPartsFromXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SplitExcel">
      <wsdl:input message="tns:SplitExcelSoapIn" />
      <wsdl:output message="tns:SplitExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitExcel">
      <wsdl:input message="tns:GenerateSplitExcelSoapIn" />
      <wsdl:output message="tns:GenerateSplitExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExcelParts">
      <wsdl:input message="tns:GetExcelPartsSoapIn" />
      <wsdl:output message="tns:GetExcelPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExcelPartsFromXml">
      <wsdl:input message="tns:GetExcelPartsFromXmlSoapIn" />
      <wsdl:output message="tns:GetExcelPartsFromXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeWord">
      <wsdl:input message="tns:MergeWordSoapIn" />
      <wsdl:output message="tns:MergeWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergePresentation">
      <wsdl:input message="tns:MergePresentationSoapIn" />
      <wsdl:output message="tns:MergePresentationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeExcel">
      <wsdl:input message="tns:MergeExcelSoapIn" />
      <wsdl:output message="tns:MergeExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitWord">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/SplitWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitPresentation">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/SplitPresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitWord">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GenerateSplitWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitPresentation">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GenerateSplitPresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordParts">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetWordParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationParts">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetPresentationParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordPartsFromXml">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetWordPartsFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationPartsFromXml">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetPresentationPartsFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitExcel">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/SplitExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitExcel">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GenerateSplitExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExcelParts">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetExcelParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExcelPartsFromXml">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetExcelPartsFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeWord">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/MergeWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergePresentation">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/MergePresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeExcel">
      <soap:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/MergeExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitWord">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/SplitWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitPresentation">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/SplitPresentation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitWord">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GenerateSplitWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitPresentation">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GenerateSplitPresentation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordParts">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetWordParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationParts">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetPresentationParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordPartsFromXml">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetWordPartsFromXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentationPartsFromXml">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetPresentationPartsFromXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitExcel">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/SplitExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSplitExcel">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GenerateSplitExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExcelParts">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetExcelParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExcelPartsFromXml">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/GetExcelPartsFromXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeWord">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/MergeWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergePresentation">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/MergePresentation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeExcel">
      <soap12:operation soapAction="https://sourceforge.net/p/documenttransitionapp/svn/HEAD/tree/DocumentTransitionApp/MergeExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6943/DocumentTransitionAppServices/TransitionAppServices.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6943/DocumentTransitionAppServices/TransitionAppServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>