DocumentTransitionApp/DocumentTransitionPhoneApp/Service References/TransitionAppServices/TransitionAppServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SplitDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docxFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SplitDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SplitDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfPersonFiles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonFiles" nillable="true" type="tns:PersonFiles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Person" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfFileData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFileData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileData" nillable="true" type="tns:FileData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="MergeDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SplitDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SplitDocument" />
  </wsdl:message>
  <wsdl:message name="SplitDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SplitDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="MergeDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:MergeDocument" />
  </wsdl:message>
  <wsdl:message name="MergeDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:MergeDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SplitDocument">
      <wsdl:input message="tns:SplitDocumentSoapIn" />
      <wsdl:output message="tns:SplitDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeDocument">
      <wsdl:input message="tns:MergeDocumentSoapIn" />
      <wsdl:output message="tns:MergeDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitDocument">
      <soap:operation soapAction="http://tempuri.org/SplitDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeDocument">
      <soap:operation soapAction="http://tempuri.org/MergeDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SplitDocument">
      <soap12:operation soapAction="http://tempuri.org/SplitDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeDocument">
      <soap12:operation soapAction="http://tempuri.org/MergeDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.1.106:6943/TransitionApp/TransitionAppServices.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.1.106:6943/TransitionApp/TransitionAppServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>